tensorflow
dvc
pandas
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2 #to make sure that the input and output file
joblib
types-PyYAML
scipy
mlflow==1.26.1
-e . #to install from local src
